
@{
    ViewData["Title"] = "Index";
}

<br/>
<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in ViewBag.cart)
        {
        <tr>
            <td>@item.Laptop.Id</td>
            <td>@item.Laptop.Name</td>
            <td>@item.Laptop.Price</td>
            <td>@item.Quantity</td>
            <td>@(item.Laptop.Price * item.Quantity)</td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4">Total</th>
            <th>@ViewBag.total</th>
        </tr>
    </tfoot>
</table>
<br/>

<div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <a type="button" class="btn btn-danger m-1" asp-action="Clear" asp-controller="Cart">Clear Cart</a>
    <a class="btn btn-warning m-1" asp-controller="Home" asp-action="Index">Continue Shopping</a>
    <a class="btn btn-success m-1" asp-controller="Cart" asp-action="Checkout">Checkout</a>
</div>

